# SOK-1006 Mikro
## Seminar 2
### Oppgave 1

In [5]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import sympy as sp

In [23]:
# last inn data

df=pd.read_csv("https://uit-sok-1006-v22.github.io/seminarer/suits_watermelons.csv",delimiter=";")

In [24]:
df

,Year,log q,log h,log p,log p_c,log p_v,log w,log n,log(y/n),log p_f,Unnamed: 10
0,1930,"4,4486232","4,3795452","4,7617768","2,2473376","0,8450542","3,3664012","4,812434","6,4035306","2,5351626",NaN
1,1931,"4,3565192","4,3334932","4,6144104","1,7338578","2,7262784","3,1361412","4,8193418","6,2446512","2,5466756",NaN
2,1932,"4,2045476","4,0548786","4,3680322","1,8743164","2,5881224","2,832198","4,8262496","5,9660366","2,5996354",NaN
3,1933,"4,0318526","4,0088266","4,5315168","2,3187182","2,2864818","2,7723304","4,8331574","5,8969586","2,6456874",NaN
4,1934,"4,0963254","4,0940228","4,6443442","2,5144392","1,4759666","2,9173942","4,8400652","6,0189964","2,624964",NaN
5,1935,"4,1953372","4,156193","4,5637532","2,406217","1,8927372","2,970354","4,8446704","6,1295212","2,7101602",NaN
6,1936,"4,1354696","4,1285618","4,8515782","2,5144392","1,8973424","2,9956826","4,8538808","6,2469538","2,7032524",NaN
7,1937,"4,2621126","4,225271","4,662765","2,129905","2,0792478","3,1131152","4,858486","6,3114266","2,705555",NaN
8,1938,"4,25981","4,202245","4,6903962","2,1506284","3,0440372","3,0900892","4,8653938","6,2262304","2,7539096",NaN
9,1939,"4,14468","4,1377722","4,777895","2,2081934","1,7016214","3,1131152","4,8746042","6,2884006","2,6917394",NaN
10,1940,"4,3450062","4,282836","4,6903962","2,291087","2,5351626","3,1361412","4,8838146","6,355176","2,7539096",NaN
11,1941,"4,1654034","4,1654034","4,8976302","2,8345006","3,1614698","3,2950206","4,893025","6,5462918","2,7585148",NaN
12,1942,"4,0341552","4,0341552","5,480188","2,947328","3,8936966","3,5252806","4,904538","6,769644","2,7446992",NaN
13,1943,"3,8821836","3,8821836","6,0972848","2,9887748","3,6427132","3,7946848","4,9183536","6,884774","2,6433848",NaN
14,1944,"4,25981","4,25981","5,9084716","3,0325242","2,3900988","3,9881032","4,9298666","6,965365","2,6341744",NaN
15,1945,"4,2897438","4,2897438","6,0166938","3,1154178","1,853593","4,1262592","4,9413796","6,9791806","2,6963446",NaN
16,1946,"4,3933608","4,3887556","5,9499184","3,4861364","3,430874","4,2621126","4,95059","7,0252326","2,694042",NaN
17,1947,"4,3956634","4,3265854","5,7657104","3,4631104","3,4608078","4,3311906","4,9713134","7,0666794","2,8690396",NaN
18,1948,"4,3012568","4,3012568","5,963734","3,4147558","3,9811954","4,3818478","4,9874316","7,1541782","3,0877866",NaN
19,1949,"4,3611244","4,3588218","5,7426844","3,3525856","2,7331862","4,3565192","5,0058524","7,1403626","3,1683776",NaN
20,1950,"4,4117816","4,3265854","5,7772234","3,6910678","1,8835268","4,3703348","5,0219706","7,2140458","3,2190348",NaN
21,1951,"4,4232946","4,4140842","5,9107742","3,6358054",NaN,NaN,"5,0403914","7,2900316","3,2673894",NaN